button {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #ff9d00;
  border: none;
  padding: 13px 22px;
  border-radius: 5px; }
  button img {
    vertical-align: middle; }
  button-big {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 15px;
    font-weight: 400;
    vertical-align: middle; }
